/.dockerignore

# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
client/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
webspa/.sass-cache
webspa/connect.lock
webspa/coverage
webspa/libpeerconnection.log
npm-debug.log
testem.log

# e2e
webspa/e2e/*.js
webspa/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json
backend/target/classes/application.yml
*.directory

.gradle
*/target/*

# java files


_vars.custom.sh

webspa/projects/robocode-blockly/node_modules/*
webspa/projects/robocode-blockly/build/*
webspa/projects/robocode-blockly/dist/*
backend/robots/config/*
backend/robots/robots/
backend/robots/robot.database
backend/robots/sample/config/*