<ng-container *ngIf="battles$|async as battles; else noBattles">
  <ng-container *ngIf="battles.length > 0; else noBattles">
    <legend>Battallas actuales</legend>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="battles">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="started">
          <th mat-header-cell *matHeaderCellDef> Iniciada? </th>
          <td mat-cell *matCellDef="let element"> {{element.started}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfRounds">
          <th mat-header-cell *matHeaderCellDef> # Of rounds </th>
          <td mat-cell *matCellDef="let element"> {{element.specification.numberOfRounds}} </td>
        </ng-container>

        <ng-container matColumnDef="see">
          <th mat-header-cell *matHeaderCellDef> Ver </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="viewBattle(element)">Ver</a> |
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </ng-container>
</ng-container>
<ng-template #noBattles>
  <p>Aca se van a ver las listas de batallas actuales</p>
</ng-template>
