<p>viewer works!</p>
<div #battle style="margin-top:40px; display: inline-block; background-image:url('/assets/battle/battlefield.png')">
  <ng-container *ngIf="battle$|async as battle">
    <app-robots [robots]="battle.snapshot.robots"></app-robots>
    <app-bullets [bullets]="battle.snapshot.bullets"></app-bullets>
  </ng-container>
</div>
<ng-template #startBattleTemplate>
  <button mat-raised-button color="primary" (click)="startBattle()">Iniciar batalla</button>
</ng-template>
<div *ngIf="battle$|async as battle; else startBattleTemplate">
  {{battle$|async|json}}
</div>
