<div style="display:flex; height: 70vh">
  <rsz-layout class="cell" [directions]="['none']" [rFlex]="false">
    <lib-ngx-robocode-blockly [(ngModel)]="model" [defaultWorkspaceXml]="defaultWorkspaceXml">
    </lib-ngx-robocode-blockly>
  </rsz-layout>
  <rsz-layout class="cell test" [directions]="['left']" [rFlex]="true" (resizeEnd)="updateBlocklyWorkspace()">
    <ngx-monaco-editor [options]="editorOptions" [ngModel]="model?.code"></ngx-monaco-editor>
  </rsz-layout>
</div>
<pre>{{model | json}}</pre>