<article>
  <br />
  <legend>Bienvenido {{username|async}}</legend>
  <br />
  <p>RITA Web es un juego para aprender a programar, en el cual podrás desarrollar un tanque de batalla robot para
    luchar contra otros tanques.</p>
  <p>Utiliza el motor del popular juego Robocode, pero facilita el aprendizaje de la programación, ya que los robots se
    pueden crear moviendo y encastrando bloques.</p>
  <p>Para programar tu primer robot podes ir a <a routerLink="/robots/browse">Mis robots</a></p>
  <br />
  <p>Si querés crear una batalla o ver una ya creada podés ir a <a routerLink="/battles/browse">Batallas</a></p>
  <br />
  <p>Si querés conocer más de Robocode y estrategias para crear Robots podés ir a <a href="https://robowiki.net"
      target="_blank">Robo wiki</a></p>
  <br />
  <p>RITA Web es un producto de software libre, lo que significa que podés descargarlo, modificarlo e inclusive proponer
    mejoras o cambios. El código fuente se encuentra disponible <a href="https://github.com/ascazzola/rita-web"
      target="_blank"> aquí </a></p>
</article>
