<mat-nav-list>
  <mat-list-item mat-list-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </mat-list-item>
  <mat-list-item mat-list-item routerLink="/robots/browse">
    <mat-icon>smart_toy</mat-icon>
    <span>Mis robots</span>
  </mat-list-item>
  <mat-list-item mat-list-item routerLink="/battles/browse">
    <mat-icon>videogame_asset</mat-icon>
    <span>Batallas</span>
  </mat-list-item>
  <mat-list-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </mat-list-item>
</mat-nav-list>
